@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    color: #1e1e1e;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p, button, a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    width: 100%;
    height: 700px;
    border-width: 1px;
    border-style: solid;
}

#opening {
    width: 50%;
    margin-left: 105px;
    margin-top: 60px;
}

#opening button {
    transition-duration: 200ms;
}

#opening button:hover {
    transition-duration: 200ms;
    transform: scale(1.1);
}

#opening #splash-greet {
    font-size: 15px;
}

#opening h1 {
    font-weight: 700;
    font-size: 40px;
}

#opening p {
    font-size: 15px;
    text-align: justify;
}

.content {
    width: 100%;
    height: 700px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
}

.content-component {
    margin-left: 105px;
    margin-right: 105px;
}

#introduction {
    width: 70%;
    text-align: justify;

}

.content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:25px;
}

.content p {
    font-size: 13px;
}

.social {
    transition-duration: 200ms;
}
.social:hover {
    transition-duration: 200ms;
    transform: scale(1.2);
}

#interest, #technology {
    justify-content: center;
}

.item-row {
    margin-left: 105px;
    margin-right: 105px;
    margin-bottom: 20px;
}

.item-row .item-title {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.item-row img {
    width: 12%;
    padding-bottom: 10px;
}

.item-row p {
    font-size: 12px;
}

.tech-container img {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 200ms;
    margin-bottom: 40px;
}

.tech-container p {
    visibility: hidden;
}

.tech-item:hover img {
    transform: scale(2);
    transition-duration: 200ms;
}

.tech-item:hover p {
    visibility: visible;
    transition-duration: 200ms;
}

.tech-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}